.custom-modal {
    position: static;
    border: 2px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    overflow: hidden;
    border-radius: 5px;
    outline: none;
    padding: 1px;
}

.btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    color: #000;
    opacity: 0.5;
}

.btn-close:hover {
    opacity: 1;
}

