.custom-modal {
    width: 50%;
    background-color: #fff; /* Defina a cor de fundo desejada */
    border: 2px solid rgba(0, 0, 0, 0.2); /* Adicione a borda desejada */
    border-radius: 7px; /* Adicione o raio de borda desejado */
    padding: 20px;
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.custom-modal form {
    margin-bottom: 20px; /* Adicione margem inferior para os formulários dentro da modal */
}

.custom-modal label {
    display: block; /* Para que cada label apareça em uma linha separada */
    margin-bottom: 10px; /* Adicione margem inferior para separar os labels */
}

.custom-modal input {
    width: 100%; /* Define a largura total para os inputs */
    margin-bottom: 10px; /* Adicione margem inferior para separar os inputs */
}


.btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    color: #000;
    opacity: 0.5;
}

.btn-close:hover {
    opacity: 1;
}