.custom-navbar {
    background-color: #051590;
    margin: 0;
}


.nav-image {
    width: 15%;
    height: 10%;
    object-fit: cover;
    /* Garante que a imagem cubra totalmente a área, possivelmente cortando partes */
    display: block;
    /* Remove o espaçamento inferior da imagem */
}

nav {
    position: relative;
    /* Garante que o z-index funcione corretamente */
    background-color: #051590;
    /* Torna o fundo do nav um pouco transparente, se desejar */
}

nav a {
    color: white !important;
}

.navbar-nav .nav-link {
    transition: background-color 0.3s ease;
    border-radius: 50px;
}

.navbar-nav .nav-link:hover {
    background-color: #e71a28;
    color: white;
    border-radius: 50px;
}

.home-li {
    margin-left: 10px;
}

ul p {
    color: white;
}